.card-header-color{
    background-color: rgb(77, 0, 77);
}
.btn-info{
    background-color:transparent;
    border: none;
    color:white;
}
.card-width{
   min-width: 20%;
}

@media (max-width: 767.98px) {  
    .card-width{
        min-width: 75%;
    }
}

