<div class="offset-md-2 col-md-10">
<h2>Tickets</h2>
<div class="row">
<div class="card" style="width: 18rem;margin-top:20px;" *ngFor="let t of Tickets">
  <div class="card-body">
    <h5 class="card-title">Price : {{t.price}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Numer : {{t.number}}</h6>
    <input type="submit" class="btn-error btn" value="Delete" (click)="deleteTicket(t.id)" />
    <p class="card-text"><input type="submit" value="БИЛЕТ" (click)="createTicket()" />
      <input type="submit" value="Update" (click)="updateTicket()" /></p>
  </div>
</div>
</div>