<div class="row justify-content-center">
    <h1>Aircraft Info</h1>
</div>
<div class="card mx-auto card-width">
    <div class="card-heading p-2"><h4>Aircraft id : {{Aircraft?.id}}</h4></div>
    <hr>
    <div class="card-heading p-2">
        Name: {{Aircraft?.name}} <br>
        <input class="form-control"
        [(ngModel)]="name"
        maxlength="6" 
        pattern="[A-Z]{3}[0-9]{3}"
        [disabled]="!isUpdate"
        placeholder="{{Aircraft?.name}}" 
        required 
        #nameIn="ngModel"/>
    </div>
    <div [hidden]="!isUpdate" *ngIf="nameIn.invalid && (nameIn.dirty || nameIn.untouched)" class="alert alert-danger card-heading m-2">
        <div>
            Length have to be less than 6 and match pattern LLLNNN (L-letter in uppercase,N-number)
        </div>
    </div>
    <div class="card-heading p-2">
        Release date: {{Aircraft?.releseDate}} <br>
        <input class="form-control" 
        [disabled]="!isUpdate" 
        placeholder="{{Aircraft?.releseDate}}" 
        [(ngModel)]="time" 
        maxlength="10"
        pattern="^([0-2][0-9]|(3)[0-1])(.)(((0)[0-9])|((1)[0-2]))(.)\d{4}$" 
        required 
        #inputTime="ngModel"/> 
    </div>
    <div [hidden]="!isUpdate" *ngIf="inputTime.invalid && (inputTime.dirty || inputTime.untouched)" class="alert alert-danger card-heading m-2">
        <div>
            Format dd.mm.yyyy
        </div>
    </div>
    <div class="card-heading p-2">
        Lifetime: {{Aircraft?.lifetime}} years<br>
        <input class="form-control" 
        [disabled]="!isUpdate" 
        placeholder="{{Aircraft?.lifetime}}" 
        [(ngModel)]="life" 
        maxlength="2" 
        pattern="\b([1-9]|1[0-9]|20)\b" 
        #inputLife="ngModel"
        required /> 
    </div>
    <div [hidden]="!isUpdate" *ngIf="inputLife.invalid && (inputLife.dirty || inputLife.untouched)" class="alert alert-danger card-heading m-2">
        <div>
            Lifetime have to be between 1 and 20!
        </div>
    </div>
    <div class="card-heading p-2">
        type №: {{Aircraft?.typeId}} <br> 
        <select [disabled]="!isUpdate"  class="form-control" (ngModelChange) = "ChangeType($event)" name="type" [(ngModel)]="type" required  #typeIn="ngModel" >
                <option  *ngFor="let t of Types" [ngValue]="t" >
                 Id : {{t.id}} model : {{t.model}}
                </option>
            </select>
    </div>
    <div [hidden]="!isUpdate" *ngIf="typeIn.invalid && (typeIn.dirty || typeIn.untouched)" class="alert alert-danger card-heading m-2">
            <div>
                Please,select option
            </div>
        </div>
    <div class="card-heading p-2" [hidden]="!isUpdate">
        Input data to update and press "Update"
    </div>
    <div class="card-heading p-2 mx-auto">
        <button type="button" [disabled]="nameIn.invalid || inputLife.invalid || inputTime.invalid" class="btn btn-outline-secondary" (click)="updateAircraft(name,time,life)">Update</button>
    </div>
</div>