* {
    font-family: 'Rubik', sans-serif;
}

.card-header-color{
    background-color: rgb(77, 0, 77);
}

.card-header-color{
    background-color: rgb(77, 0, 77);
}
.btn-info{
    background-color:transparent;
    border: none;
    color:white;
}

.btn-info:hover {
    background:none;color:inherit
}

.card-width{
   min-width: 20%;
}

.required-sign{
    color:red;
}