<div class="row justify-content-center">
    <div > <h1>Crews</h1></div> 
 </div>
 <div class="row justify-content-center mb-2">
    <div ><button type="button"  class="btn btn-warning btn-lg"  data-toggle="modal" data-target="#modalCreate" >Create</button></div>
 </div> 
<div class="row justify-content-center ">
<div class="card m-2 card-width" *ngFor="let t of Crews">
  <div class="card-header card-header-color text-white ">Crew Id : {{t.id}}
    <a class="btn-info float-right"  [routerLink]="['/crews', t.id]"><i class="fas fa-question"></i></a>
  </div>
  <div class="card-body">
    <div class="card-subtitle mb-2 text-muted">Pilot id : {{t.pilotId}}
        <button type="button" class="btn btn-link text-muted" [routerLink]="['/pilots', t.pilotId]" ><i class="fas fa-info info-sign"></i></button>
    </div>
    <hr>
    <div class="card-subtitle mb-2 ">Stewardesses : </div>
    <div class="card-subtitle mb-2 text-muted" *ngIf="t.stewardessesId.length === 0" >No stewardesses </div>
    <div class="card-subtitle mb-2 text-muted" *ngFor="let s of t.stewardessesId" >Stewardesses id : {{s}}
        <button type="button" class="btn btn-link text-muted" [routerLink]="['/stewardesses', s]" ><i class="fas fa-info info-sign"></i></button>
    </div>
    <div class="space"><span >s</span></div>
    <div class="btn-crud" >
    <button type="button" class="btn btn-success " [routerLink]="['/crews', t.id]" >Update</button>
    <button type="button" class="btn btn-danger ml-1" (click)="deleteCrew(t.id)">Delete</button>
    </div>
</div>
</div>
<div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create new object</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Choose a pilot</label>
                <select class="form-control" (ngModelChange) = "changePilot($event)"  [(ngModel)]="pilot" required  #pilotIn="ngModel" >
                    <option  *ngFor="let p of Pilots" [ngValue]="p" >
                     Id : {{p.id}} Name : {{p.firstName}} Exp : {{p.experience}} year
                    </option>
                </select>
            </div>
            <div *ngIf="pilotIn.invalid && (pilotIn.dirty || pilotIn.touched)" class="alert alert-danger">
                <div>
                    Please,select option!
                </div>
            </div>
            <label>Choose stewardesses</label>
            <div class="form-group" style="display: flex;">
                
                <select  class="form-control stew-select" (ngModelChange) = "changeStewardess($event)" name="stew" [(ngModel)]="stew" required  #stewIn="ngModel" >
                    <option  *ngFor="let s of Stewardesses" [ngValue]="s" >
                     Id : {{s.id}} Name : {{s.firstName}} 
                    </option>
                </select>
                <button  type="button" class="btn btn-danger stew-btn" (click)="addStewardess()"> Add</button>
            </div>
            <div *ngIf="stewIn.invalid && (stewIn.dirty || stewIn.touched)" class="alert alert-danger">
                <div>
                    Please,select option!
                </div>
            </div>
            <div class="form-group" [hidden]="selectedStewardesses.length == 0">
              Selected :
            </div>
            <div class="form-group" *ngFor="let ss of selectedStewardesses">
                Id : {{ss}} 
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="pilotIn.invalid || stewIn.invalid "  class="btn btn-success" data-dismiss="modal" (click)="createCrew(number, price)">Yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>